# Python
__pycache__/
*.py[cod]
*.pyo
venv/
.venv/
*.egg-info/
dist/
build/

# Environment
.env
*.env.local

# Node / Angular
node_modules/
dist/
.angular/
*.js.map

# IDE
.vscode/
.idea/
*.suo
*.user

# OS
.DS_Store
Thumbs.db

# Docker
*.log
